# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.Python
env/
venv/
ENV/
qdrant

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project files
model/
.env
eval/
